html {
    height: 100%;
}

body {
    /*overflow: scroll;*/
    /*vertical-align: middle;*/
    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100%;
    overflow-x:hidden;
}

.container {
    /*display: flex;*/
    /*justify-content: space-around;*/
    /*justify-content: center;*/
    /*align-items: center;*/
    height: 100%;
    /*margin: 20px 20px 20px 20px;*/
}

#imgx {

    -webkit-clip-path: polygon(50% 0, 100% 0, 100% 100%, 40% 100%, 40% 80%);
    position: absolute;
    width: 100%;
    height: 100%;
}

.row {
    position: relative !important;
}

@font-face {
    font-family: Coves;
    src: url('Coves-Light.otf') format('opentype');
    font-weight: normal;
}

@font-face {
    font-family: Coves;
    src: url('Coves-Bold.otf') format('opentype');
    font-weight: bold;
}

strong {
    font-weight: bold;
}

.brand {
    font-family: Coves;
}

.cred {
    color: #dc6038;
}

.cpurple {
    color: #a8518a;
}

#social a:hover span i {
    color: #a8518a;
}
#social{
    min-width: 100%;
}
